<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ text }}</h1>
    <p>
        <ul style="font-size: 20px;">
            <li>{{ game_1 }} <button style="font-size: 17px">{{ buy }}</button></li>
            <li>{{ game_2 }} <button style="font-size: 17px">{{ buy }}</button></li>
            <li>{{ game_3 }} <button style="font-size: 17px">{{ buy }}</button></li>
        </ul>
    </p>
    <button style="font-size: 17px"><a href="/" style="text-decoration: none">{{ back }}</a></button>
</body>
</html>
